.thanks__content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
  max-width: 1230px;
  height: 100vh;
}

.thanks__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form__button {
  padding: 10px;
  margin: 0 auto;
  width: 20%;
  height: 50px;
  border: none;
  border-radius: 3px;
  background: #000;
  text-align: center;
  cursor: pointer;
}

.form__button-pageTop {
    color: #fff;
    text-decoration: none;
}